#pragma once

const char * SSID = "merlinhome";
const char* WIFIPASSWORD = "n00n00head";
#define MQTT_MAX_PACKET_SIZE 256
const char* MQTT_SERVERADDRESS = "192.168.1.55";
char* MQTT_CLIENTNAME = "espCO2Meter";
const char* ARDUINO_OTA_URI_SUFFIX = "/firmware";
const char* ARDUINO_OTA_UPDATE_USERNAME = "admin";
const char* ARDUINO_OTA_UPDATE_PASSWORD = "1llusion_mb";